<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This is a useful application that was originally created to teach MIS people and friends how to make a production-secure, cloud-developed web application.
<br>
  I left the debug-helpful info at the bottom of the pages. So if you see a bug, please use the contact link in the footer and include the debug-helpful info at the bottom.  :)
<br>
  Have fun using it both on your computers, tablets and mobile phones!

  ~>Roy
</p>