<% provide(:title, "Help")%>
<h1>Help</h1>
<p>
  Please email <em> mis@pshs.edu.ph </em> for any questions or concerns.

  Thank you!
</p>


<%= image_tag("kitten.jpg", alt: "obligatory cute pic" ) %>