    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">

        <small>
          <a href="#">Information Systems Inclusive Programming Class</a>
          by <a href="https://github.com/roycan">Roy Canseco</a>
        </small>
        <nav>
          <ul>
            <li><%= link_to("About", about_path)%></li>
            <li><%= link_to("Contact", contact_path) %></li>
            <li><a href="https://web.facebook.com/roycanseco">News</a></li>
          </ul>
        </nav>

      </div>
    </footer>